/* Grid */
@import url('tabular.css');

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: center;
  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;*/
}
    

/* Widgets */
section {
  display: flex;
  flex-direction: column;
  background: rgb(255, 195, 195);
  padding: 1em;
  margin: 5px;
  border-radius: 20px;

  /* Relative Parent. Absolute Child */
  position: relative;

}

h1 {
  font-family: 'Tabular-Bold';
  font-size: 1.5em;

}
/* Time */
.time {
  /*grid-area: 1 / 1 / 2 / 2;*/
  font-family: 'Tabular-Regular';
  font-size: 1em;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  /*grid-area: 1 / 2 / 2 / 3;*/
  font-family: 'Tabular-Regular';
  font-size: 1em;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  /*grid-area: 1 / 3 / 2 / 4;*/
  font-family: 'Tabular-Regular';
  font-size: 1em;
}

.city {
  
}

.temp {
  font-size: 2em;
  padding-top: 5px;
}

.weather img {
height: 100px;
width: 100px;
align-self: center;
}
