/* Grid */
@import url('tabular.css');
.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: auto;
}
    

/* Widgets */
section {
  background: rgb(255, 225, 225);
  padding: 1em;
  margin: 10px;
  
  /* Relative Parent. Absolute Child */
  position: relative;
  font-family: 'Tabular-Bold';
}

/* Time */
.time {
  grid-area: 1 / 1 / 2 / 2;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  grid-area: 1 / 2 / 2 / 3;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  grid-area: 1 / 3 / 2 / 4;
}

.city {
  
}

.temp {
  
}

.weather img {
  
}
